
.page {
	max-width: 30em;
	margin: auto;
	
	h1 {
		text-align: center;
	}
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	.nav-item {
		padding: 1em 1em;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		
		+ .nav-item {
			border-top: 1px solid #ddd;
		}
				
		a {
			text-decoration: none;
			color: #12c777;
			
			&:hover, &:focus {
				color: #c76712;
			}
		}
		
		.nav-indicator {
			position: absolute;
			right: 1em;
		}
	}
}

.nav--primary {
	border: 1px solid #ddd;
	margin-bottom: 2em;
	
	.nav-item {
		&.is-active {
			path {
				stroke-dashoffset: -15;
			}			
		}
	}
}

.nav--secondary {
	overflow: hidden;
	margin-top: 1em;
	will-change: height;
	transition: height .3s, margin-top .3s;
	
	.is-collapsed & {
		margin-top: 0;
		height: 0 !important;
	}
	
	.nav-item {
		padding: .3em 1em;
		
		+ .nav-item {
			border: none;
		}
	}
}

.nav--primary {
	svg.nav-indicator {
		path {
			fill: none;
			stroke: #aaa;
			stroke-linecap: round;
			stroke-width: 2;
			stroke-dasharray: 29 40;
			transition: stroke-dashoffset .3s;
		}
	}
}

.nav--alt {
	svg.nav-indicator--alt {
		transform: translateY(-20%);
		transition: transform .2s;
		
		path {
			fill: none;
			stroke: #aaa;
			stroke-linecap: square;
			stroke-width: 2;
			stroke-dasharray: 14 40;
			stroke-dashoffset: -15;
			transition: stroke-dashoffset .3s;
		}
	}
	
	.nav-item.is-active {
		svg {
			transform: translateY(0);
			
			path {
				stroke-dashoffset: 0;
			}
		}
	}
}